

<div>

</div>

<div class="hero-unit">
  <h1>Welcome to 8065 Deals!</h1>
  <p>Be apart of an exclusive group and get the deals you want.</p>
  <p>
  <%= link_to "Sign Up", new_user_registration_path, :class => "btn btn-primary btn-large" %>
  </p>
</div>
