@import "bootstrap";
@import "bootstrap-responsive";


.box{
	margin: 5px;
	padding: 5px;
	line-height: 1.4em;
	float:left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 1px 1px 10px #444;
	width: 300px;
	height:390px;
}
.box img{
	display:blocks;
	width: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.description-box{	
	margin-left:auto;
	margin-right:auto;
	height:40px;
	width:280px;
}
.box h2{
	color:orange;
}

.price{
	
	color:orange;
}

.well table tr td{
	padding:0 25px 0 25px;
}